main .container {
	background-color: #fff;
}

.contacts-row {
	height: 400px;
	width: 100%;
	padding-left: 5%;
	text-transform: uppercase;
	background:  url(../../img/contact-us.png) 80% 20% no-repeat,
				 url(../../img/contacts-bg.jpg) center 1500% no-repeat;
	
}

.contacts-row *{
	font-family: Normal;
}

.contacts-row h1 {
	font-size: 24px;
	padding-top: 30px;
	padding-bottom: 30px;
	font-weight: 100;
	font-family: Bold;
}

.contacts-row p {
	font-size: 20px;
	height: 40px;
	line-height: 40px;
}
.contacts-row p span {
	font-size: 30px;
	width: 50px;
	height: 40px;
	line-height: 42px;
	text-align: center;
	
}


.contacts-row p:nth-child(2) span {font-size: 24px;}
.contacts-row p:nth-child(3) span {font-size: 22px;}
.contacts-row p:nth-child(4) span {font-size: 30px;}
.contacts-row p:nth-child(5) span {font-size: 30px;}
.contacts-row p:nth-child(6) span {font-size: 24px;}
.contacts-row p:nth-child(7) span {font-size: 24px;}