.first-row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	height: 400px;
	padding-top: 20px;
	margin-bottom: 20px;
}
.first-row > div:nth-child(1) {
	width: 180px;
	padding-right: 20px;
}
.first-row > div:nth-child(2) {
	width: 740px;
}
.first-row > div:nth-child(3) {
	width: 180px;
	padding-left: 20px;
}

.js-slider-left div,
.js-slider-center div,
.js-slider-right div {
	position: relative;
	width: 100%;
	height: 100%;
}

.js-slider-center .slick-slide {
	background-image: url(../../img/s2-1.jpg);
	background-size: cover; 
}

.js-slider-left .slick-slide {
	background-image: url(../../img/s1-1.png);
	background-size: cover; 
}

.js-slider-right .slick-slide {
	background-image: url(../../img/s3-1.png);
	background-size: cover;
}

.js-slider-left div p:first-child,
.js-slider-right div p:first-child {
	text-align: center;
	text-transform: uppercase;
	font-size: 26px;
	padding-top: 20px;
}

.js-slider-left div p:last-child,
.js-slider-right div p:last-child {
	text-align: center;
	text-transform: uppercase;
	font-size: 26px;
	padding-top: 270px; 
}

/*******second row ***********/

.second-row {
	position: relative;
}

.show-catalogue {
	position: absolute;
	top: 40px;
	left: 0;
	z-index: 222222;
	width: 100%;
	height: 210px;
	background-color: #7dbb52;
	display: none;
	overflow: hidden;
	
}
.js-close-catalogue {
	display: block;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.second-row h2 {
	text-transform: uppercase;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background-color: #313131;
	color: #fff;
	font-size: 19px;
	width: 100%;
}

.second-row .catalogue-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
}

.catalogue {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 210px;
	flex: 0 0 25%;
	background-color: #80c351;
	background-repeat: no-repeat;
	background-size: 40%;
	transition: 0.2s all ease;
}

.catalogue:nth-child(2),
.catalogue:nth-child(4),
.catalogue:nth-child(5),
.catalogue:nth-child(7) {
	background-color: #7dbb52;
}

.catalogue span {
	position: absolute;
	display: block;
	bottom: 5%;
	color: #fff;
	text-transform: uppercase;	
	font-size: 20px;
	width: 100%;
	text-align: center;
	transition: 0.2s all ease;
}

/*******third row ***********/

.third-row h2 {
	margin-top: 20px;
	text-transform: uppercase;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background-color: #313131;
	color: #fff;
	font-size: 19px;
	width: 100%;
}

.third-row div {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
}

.social {
	position: relative;
	display: block;
	height: 40px;
	flex: 1;
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: 20px 0;
	text-transform: uppercase;
	color: #fff;
	line-height: 40px;
}
.social span {
	margin-top: 7.5px;
	margin-left: 80px;
	margin-right: 10px;
	display: block;
	width: 25px;
	height: 25px;
	background-repeat: no-repeat;
	background-size: contain;
	float: left;
}


.social:nth-child(1){background: linear-gradient(rgb(216, 105, 215) 0%, rgb(102, 79, 189) 100%);}
.social:nth-child(2){background: linear-gradient(rgb(81, 161, 236) 0%, rgb(126, 126, 126) 100%);}
.social:nth-child(3){background: linear-gradient(rgb(153, 153, 153) 0%, rgb(91, 153, 201) 100%);}
.social:nth-child(4){background: linear-gradient(rgb(232, 146, 44) 0%, rgb(189, 189, 189) 100%);}

.social:nth-child(1) span {background-image: url(../../img/icon_insta.png);}
.social:nth-child(2) span {background-image: url(../../img/icon_fb.png);}
.social:nth-child(3) span {background-image: url(../../img/icon_vk.png);}
.social:nth-child(4) span {background-image: url(../../img/icon_mail.png);}

/*  fourth-row */

.fourth-row {
	height: 180px;
	margin-top: 20px;
	position: relative;
	background: linear-gradient(0deg,rgb(255, 255, 48) 0%, rgb(128, 195, 81) 30%);
	margin-bottom: 20px;
}

.fourth-row * {
	color: #fff;
	text-transform: uppercase;
}

.fr1 {
	font-size: 48px;
	line-height: 43px;
	position: absolute;
	left: 3%;
	top: 16%;
	letter-spacing: 0.5px;
}

.fr2 {
	position: absolute;
	left: 3%;
	font-size: 48px;
	line-height: 43px;
	top: 43%;
	letter-spacing: 0.5px;
}

.fr3 {
	font-size: 28px;
	position: absolute;
	bottom: 10%;
	left: 3%;
	font-family: Medium;
	letter-spacing: 0.8px;
}

.subscribe {
	float: right;
	width: 55%;
	margin-right: 20px;
	margin-top: 35px;
}
.percent {
	font-size: 120px;
	position: absolute;
	left: 25%;
	top: 2%;
}
.subscribe a {
	display: block;
	width: 100%;
	height: 35px;
	line-height: 35px;
	border: 2px solid #fff;
	font-family: Medium;
	font-size: 23px;
	text-align: center;
	margin-bottom: 10px;
}


/* animation */

.catalogue div {
	width: 92%;
	height: 90%;
}

.js-hover {
	border: 2px solid #fff;
	animation: 0.2s hover ease;
}

@keyframes hover {
	from {
		width: 98%;
		height: 98%;
	}
	to {
		width: 92%;
		height: 90%;
	}
}
.catalogue span{
	bottom: 11%;
}

.catalogue:hover {
	background-size: 45%;
}


.catalogue:nth-child(1){background-image: url(../../img/icon_1.png);background-size: 47%; background-position: center 30px;}
.catalogue:nth-child(2){background-image: url(../../img/icon_2.png);background-size: 48%; background-position: center 30px;}
.catalogue:nth-child(3){background-image: url(../../img/icon_3.png);background-size: 46%; background-position: center 20px;}
.catalogue:nth-child(4){background-image: url(../../img/icon_4.png);background-size: 52%; background-position: center 28px;}
.catalogue:nth-child(5){background-image: url(../../img/icon_5.png);background-size: 38%; background-position: center 35px;}
.catalogue:nth-child(6){background-image: url(../../img/icon_6.png);background-size: 41%; background-position: center 40px;}
.catalogue:nth-child(7){background-image: url(../../img/icon_7.png);background-size: 48%; background-position: center 25px;}
.catalogue:nth-child(8){background-image: url(../../img/icon_8.png);background-size: 43%; background-position: center 25px;}

.catalogue:nth-child(1):hover {background-size: 50%;}
.catalogue:nth-child(2):hover {background-size: 50%;}
.catalogue:nth-child(3):hover {background-size: 48%;}
.catalogue:nth-child(4):hover {background-size: 54%;}
.catalogue:nth-child(5):hover {background-size: 40%;}
.catalogue:nth-child(6):hover {background-size: 43%;}
.catalogue:nth-child(7):hover {background-size: 50%;}
.catalogue:nth-child(8):hover {background-size: 45%;}



/*========================= JS SHOW CATALOGUE =====================*/

.show-cat {
	width: 100%;
	min-height: calc(100% - 40px);
	animation: 0.4s shows-cat linear;
	display: block;
}

@keyframes shows-cat {
	from {
		width: 0%;
		min-height: 210px;
	}
	66% {
		width: 100%;
		min-height: 210px;
	}
	to {
		min-height: calc(100% - 40px);
	}
}

.hide-cat {
	width: 0%;
	min-height: 0;
	animation: 0.35s hides-cat ease;
	display: block;
}
@keyframes hides-cat {
	from {
		height: calc(100% - 40px);
		width: 100%;
	}
	to {
		width: 0%;
		height: calc(100% - 40px);
	}
}

/*********************** CATALOGUE 25.05.2018 *********************/

.c-title {
	margin-top: 20px;
    line-height: 30px;
    font-size: 24px;
    margin-left: 8px;
    padding-left: 10px;
    text-transform: uppercase;
    display: block;
    color: #fff;
}

.js-close-catalogue {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	float: left;
	background-image: url(../../img/back-arrow.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

.catalogue-content {
    width: 75%;
    margin-top: 20px;
    margin-left: 70px;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
}

.catalogue-content .block {
	flex: 0 0 33%;
}

.catalogue-content .block * {
	display: block;
	color: #fff;
}

.block p {
	margin-bottom: 10px;
	margin-top: 10px;
}

.block a {
	margin-bottom: 5px;
	font-family: Normal;
}

.show-catalogue {
	background-repeat: no-repeat;
	background-position: 100% 20%;
}
.show-catalogue:nth-child(1){background-image: url(../../img/icon_1.png);background-size: 40%; background-position: 130% 50px;}
.show-catalogue:nth-child(2){background-image: url(../../img/icon_2.png);background-size: 40%; background-position: 130% 50px;}
.show-catalogue:nth-child(3){background-image: url(../../img/icon_3.png);background-size: 38%; background-position: 130% 50px;}
.show-catalogue:nth-child(4){background-image: url(../../img/icon_4.png);background-size: 41%; background-position: 130% 50px;}
.show-catalogue:nth-child(5){background-image: url(../../img/icon_5.png);background-size: 34%; background-position: 130% 50px;}
.show-catalogue:nth-child(6){background-image: url(../../img/icon_6.png);background-size: 35%; background-position: 130% 50px;}
.show-catalogue:nth-child(7){background-image: url(../../img/icon_7.png);background-size: 40%; background-position: 130% 50px;}
.show-catalogue:nth-child(8){background-image: url(../../img/icon_8.png);background-size: 38%; background-position: 130% 50px;}
